version: "3"
services:
  dozzle:
    container_name: dozzle
    image: amir20/dozzle:latest
    network_mode: "bridge"
    restart: always
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    ports:
      - 8888:8080
